*
!*.*
!*/
*Library/
*Temp/
*public/
*Build/
*obj/
*Packages/
*.cubemap
*.meta
*.mat
*.jpg
*.png
*.unity
*.sln
*.asset
*.csproj
*.exr
*.fbx
*.prefab
*.exe
*.dll
*.pdb
*.resS
*.map
*.aspx
*.config
*.graph
*.
*.lighting
